<input type="search" (change)="searchTodo($event)">

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Is Complete</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.description}}</td>
    <td>{{item.is_complete}}</td>
    <td>
      <button mat-button color="warn" (click)="deleteTodo(item.id)">Xóa</button>
       <button mat-button color="primary">Sửa</button>
    </td>
  </tr>
  </tbody>
</table>
