
<div class="container">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button">Button</button>
    </div>
    <input type="text" class="form-control" (change)="searchTodo($event)" placeholder="Tìm kiếm công việc" aria-label="" aria-describedby="basic-addon1">
  </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary">Tạo thêm công việc</button>
    </div>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Is Complete</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.description}}</td>
    <td>{{item.is_complete}}</td>
    <td>
      <button mat-button color="warn" (click)="deleteTodo(item.id)">Xóa</button>
       <button mat-button color="primary">Sửa</button>
    </td>
  </tr>
  </tbody>
</table>
